.grid {
    margin: 155px 0 0 0;
    display: grid;
    width: 518px;
    grid-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    align-items: start;
}

.grid-item {
    background-color: #fff;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.card #info {
    background-image: url("images/Square_Eyes_Cover2.jpg");
    width: 500px;
    height: 741px;
    object-fit: fill;
}

div .card #info {
    width: 500px;
    height: 741px;
    margin: 50px;
}

.cardPhoto {
    width: 500px;
    height: 741px;
    object-fit: fill;
}

.grid-item:hover {
    transform: translatey(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);

}

.card-img {
    display: block;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.card-content {
    padding: none;
}

.card-header {
    font-size: 3rem;
    font-weight: 500;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 16px;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;
}