body{
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-color: rgb(224, 224, 224);
	}
	
.containerTop{
	width: 100%;
	height: 150px;
	background-color: #7da2ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
	}

.divLogo{
	width: 300px;
	height: 150px;
	background-color: pink;
	;
    align-self: flex-start;
    border-radius: 20px 50px 30px 10px;
}

.divMenu{
	max-width: 300px;
	height: 75px;
	top: 75px;
	background-color: Greenyellow;

}

.containerMain{
	width: 100%;
	top: 150px;
	height: 100%;
	background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
	}

.divMain1{
	width: 300px;
	height: 150px;
	background-color: #7da9ff;
	;
    align-self: flex-start;
    border-radius: 20px 50px 30px 10px;
}

.divMain2{
	width: 150px;
	height: 150px;
	background-color: Greenyellow;

}

.logo{
	max-height: 140px;
}