@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');

body{
	
	height: 100vh;
	margin: 0;
	background-color: rgb(224, 224, 224);
	}
	
.containerTop{
	width: 100%;
	height: 150px;
	top: 0px;
	background-color: #7da2ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
	position: fixed;
	z-index: 200;
	}

.divLogo{
	max-width: 200px;
	max-height: 100px;
	background-color: #7da2ff;
    align-self: flex-start;
    border-radius: 20px 50px 30px 10px;
}


a {
	color: #fff;
}

a:hover a:active {
	color: #000;
}

}

.burgerMenu {
	max-width: 440px;
    align-self: flex-end;
	vertical-align: middle;
	display: none;
	z-index: 100;
}

.menu-icon {
	filter: invert(100%);
}

.divMenu img{
	height: 40px;
}

.menu:hover{
	filter: invert(100%) sepia(70%) saturate(120%) hue-rotate(190deg) brightness(100%);
}

img{
	margin: 0px 10px 0px 10px;
}

.containerMain{
	width: 100%;
	justify-content: center;
    display: flex;
    gap: 4em;
}

nav ul li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}

#menuList {
	max-height: 200px;
	max-width: 520px;
	bottom: 0px;
    align-self: flex-end;
	vertical-align: middle;
	font-family: 'Poppins', sans-serif;
	font-size: larger;
	color: white;
}

#menuList a {
	text-decoration: none;
}

table {
	width: 100%;
}

td {
	font-family: 'Poppins', sans-serif;
	color: #fff;
}

td.item {
	width: 80%
}

td.price {
	width: 20%
	
}

/*-----------------------------------------------START MAIN------------------------------------------------------------*/

/*
.containerMain{
	width: 100%;
	top: 20%;
	height: 70%;
	background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
	}

.divMain1{
	width: 90%;
	height: 100%;
	background-color: rgb(230, 230, 230);
    align-self: flex-start;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
*/

.menu{
	height: 50px;
}


.logo{
	max-height: 140px;
}

.icon:hover + .color{
	display: block;
}
  
.color{
	border-radius:20px;
	background-color: red;
	height: 100px;
	width: 100px;
	
}


/*-----------------------------------------------START BOTTOM------------------------------------------------------------*/


.containerBottom{

	bottom: 0px;
	background-color: #7da2ff;
	position: fixed;
	width: 100%;
	z-index: 100;
}

.divBottom{
	min-width: 300px;
	height: 100%;
	background-color: #7da2ff;
    text-align: center;
	vertical-align: middle;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: small;
    
}

.divMenu a{
	color: rgb(255, 255, 255);
	text-decoration: dotted;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
}

.menu:hover{
    color: white;
}

.aButtons {
	align-self: center;
}







@media only screen and (max-width: 800px) {
	.divLogo{
		display: none;
	}

	.menuList{
		display: none;
	}

	.burgerMenu {
		display: flex;
	}
	
	.containerMain {
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
		gap: 4em;
	}

}