body{
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-color: rgb(224, 224, 224);
	}
	
.container{
	width: 500px;
	height: 500px;
	background-color: white;
	}
	
.div1{
	width: 150px;
	height: 150px;
	background-color: Red;
}

.div2{
	width: 150px;
	height: 150px;
	background-color: Blue;
}

.div3{
	width: 150px;
	height: 150px;
	background-color: Green;

}