input[type=text] {
    padding: 10px;
    box-shadow: 0 0 2px 1px;
    rgba(0,0,0,0.06);
    border-radius: 20px;
    font-family: monospace;
}

input[type=email] {
    padding: 10px;
    box-shadow: 0 0 2px 1px;
    rgba(0,0,0,0.06);
    border-radius: 20px;
    font-family: monospace;
}

input[type=textarea] {
    padding: 10px;
    box-shadow: 0 0 2px 1px;
    rgba(0,0,0,0.06);
    border-radius: 20px;
    font-family: monospace;
}

.basic-styling {
    border: 6px solid #007EA7;
}