input[type=text] {
    padding: 10px;
    box-shadow: 4px 4px 10px
        rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 80%;
    font-family: monospace;
}

input[type=email] {
    padding: 10px;
    box-shadow: 4px 4px 10px
        rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 80%;
    font-family: monospace;
}

textarea {
    padding: 10px;
    font-family: monospace;
    width: 80%;
    resize: vertical;
    border-radius: 10px;
    border: 0.5;
    height: 160px;
}



.basic-styling {
    border: 2px solid #007EA7;
}

input[type=submit] {
    background-color: #7da2ff;
    font-size: large;
    font-weight: 600;
}

button {
    background-color: #7da2ff;
    font-size:medium;
    font-weight: 100;
    width: 150px;
    border-radius: 10px;
    border: 0.5;
    box-shadow: 0px 4px 10px
        rgba(0, 0, 0, 0.06);
}

.monthyearcvv {
    width: 50px;
}


table {
    height: 300px;
    width: 600px;
    align-content: left;
}

.text {
    
    font-size: 0.9em;
    font-family: sans-serif;
    height: 100%;
    width: 80%
}

hr {
    width: 80%;
}

.total {
    border-top: 1px solid red;
    border-bottom: 1px solid blue;
}

td {
    align-content: left;
    height: 25px;
}