input {
    padding: 10px;
    box-shadow: 4px 4px 10px
        rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    width: 200px;
    font-family: monospace;
}

textarea {
    padding: 10px;
    font-family: monospace;
    width: 200px;
    resize: vertical;
    border-radius: 10px;
    border: 0;
    box-shadow: 4px 4px 10px
        rgba(0, 0, 0, 0.06);
    height: 120px;
}

.basic-styling {
    border: 6px solid #007EA7;
}

input[type=submit] {
    background-color: #7da2ff;
    font-size: large;
    font-weight: 600;
}