#movieContent {
    margin: 0 auto;
    max-width: 80%;
   
    text-align: center;
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    min-height: 80%;
    height: 600px;
    
}

#movieCover {
    background: #007EA7;
    float: left;
    text-align: center;
    width: 50%;
    height: 100%;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

#movieInfo {
    background: #007EA7;
    float: right;
    text-align: center;
    align-items: center;
    width: 50%;
    height: 100%;
    position: relative;
}

#movieInfoBox {
    background: white;
    text-align: center;
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    position: relative;
}

.cover {
    max-height: 500px;
}

#genre {
    font-size: small;
    border-radius: 100%;
}

#genre1{
    width: 100px;
    float: left;
    font-size: small;
    border: 1px solid black;
    border-width: 200px;
    border-radius: 100%;
    position: relative;
}
#genre2{
    width: 100px;
    float: none;
    font-size: small;
    border: 1px solid black;
    border-radius: 100%;
}
#genre3{
    width: 100px;
    float: right;
    font-size: small;
    border: 1px solid black;
    border-radius: 100%;
}



