#movieContent {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
    text-align: center;
}

#movieCover {
    float: left;
}

#movieInfo {
    float: right;
}

.cover {
    max-height: 500px;
}