#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 1000%;
    margin: 0;
    left: 0;
    animation: 40s slider infinite;
}

#slider figure img {
    width: 10%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    11.12% {
        left: 0%;
    }
    22.24% {
        left: -100%;
    }
    33.36% {
        left: -200%;
    }
    44.48% {
        left: -300%;
    }
    55.6% {
        left: -400%;
    }
    66.72% {
        left: -500%;
    }
    70% {
        left: -600%;
    }
    80% {
        left: -700%;
    }
    90% {
        left: -800%;
    }