body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
}

img {
    width: 800px;
    border: solid;
    border-width: 2px;
    border-color: black;
}

img:hover {
    
    width: 800px;
    filter: invert(100%);
  }

p.imgtxt {
    font-style: italic;
}

div {
    width: 800px;
}

a {
    text-decoration: none;
}